/* Gold:  #B28A63;
   Cream: #F5EFE6
   Redish #8C3B2F*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.2rem;

}
html{
    height: 100%; /* Ensures the container covers the whole screen */
}
body {
  font-family: 'Inter', sans-serif;
     background: #F5EFE6; /*soft cream background */
     display: flex;
     flex-direction: column;
     min-height: 100vh;
}
.flex-container{
    background-color: black;
}







.card {
  background: white;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  margin-bottom: 1.5rem;
}


.one-column {

  max-width: 900px;
  
  line-height: 1.6;
  
}




.two-column{
    
  max-width: 1200px;
  
  line-height: 1.6;
    display: flex;
    gap: 3rem;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}



main h1, h2, h3, h4,h5{
    text-align: center;
  color: #8C3B2F;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
  font-family: 'Poppins', sans-serif;
}




main p {
  margin-bottom: 1rem;
  color: #333;
  font-size: 1.05rem;
}

main a:hover {
  border-bottom: 1px solid #8C3B2F;
  color: #8C3B2F;
}

header{
    background-color: #000000;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
   flex-direction: column;

   
}


footer{
    background-color: black;
    color: #B28A63;
    padding: 10px;
    text-align: center;
    font-style: italic;
}
.logo img{
    width: 10rem;

}



  .menu {
    display: none;
    flex-direction: column;
    list-style: none;
    width: 100%;
     gap: 20px;
     padding-bottom: 15px;
  }



.menu a {
  color: #F5EFE6;
  text-decoration: none;
}
.menu a:hover {
  color: #B28A63;
  text-decoration: none;
  border-bottom: 1px solid #B28A63;
}


.social a {
  color: white;
  font-size: 1.5rem;
  margin: 0 10px;
 
}

.social a:hover {
  color: #B28A63; /* your brand color */
  transform: scale(1.1);
}


  .hamburger {
     display: block;
     background-color: black;
     color: white;
     font-size: 3rem;
     float: right;
  }


.main-content {

    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 10px;

   background-color: rgba(0, 0, 0, 0.6);
}

.main-content a{
    display: inline-block;
    min-width: 150px;
    background-color: white;
    padding: 10px;
    text-align:center;
    margin: 10px;
    color: #8C3B2F;
    text-decoration: none;
    transition: all 0.3s ease;
    border-radius: 4px;
}

.main-content a:hover{
  
    background-color: #F5EFE6;
  
}


.main {
    height: 500px;
  position: relative;
  overflow: hidden;
  color: white;
   background: url('images/band.png') center/cover no-repeat;
  flex: 1 0 auto;
}



.nav{
    order: 2;
}
.logo{
    order: 1;
}

header .social{
    display: none;
}


  .menu.active {
    display: flex;
  }



.cardPlacer img{
    max-width: 400px;
   
    border-radius: 30px;
}



/* Larger screens */
@media (min-width: 1024px) {
  body {
    font-size: 18px;
  }

    header{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 15rem;
            flex-direction: row;
    }

    /* Hamburger button */
    .hamburger {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    }



.two-column{

    flex-direction: row;
  align-item: center;
    justify-content: space-between;
}




/* Make image scale properly */
.content-image img {
  width: 100%;
  height: auto;
  display: block;
}

    .content-image{
        max-width: 700px;
         display: block;
         padding: 1.5rem;
           background-color: black;
            margin-bottom: 1.5rem;
    }



.text{
    flex: 2;
    min-width: 650px;
    padding: 1.5rem;
}

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        padding: 10px 20px;
        flex: 1;
        order: 0;
    }
    .main {
        height: 850px;
        clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
        
    }
    .menu{
         display: flex;
        
        flex-direction: row;
       align-items: start;
     
    }


    .logo{
        flex: 1;
        text-align: center;
         order:1;
    }


    header .social{
        flex:1;
        text-align: right;
        display: block;
        order: 2;
    }
    footer .social{
        display: block;
    }



    .logo img{
        width: 10rem;
 
    }

.main-content {
  position: absolute;
  bottom: 220px;
  left: 50px;
  width: fit-content;
  padding: 30px;
  border-radius: 5px;

}
 footer{
    padding: 20px;
 }
 main{
    width: 60%;
    margin: auto;
 }

.cardPlacer{
  display: block;
  padding: 1.5rem;
  background-color: black;
 
  margin-bottom: 1.5rem;
}

  .cardPlacer {
    display: block;
    padding: 1.5rem; /* Matches .card */
    background: black; /* Matches .card */
    border-radius: 8px; /* Matches .card */
    box-shadow: 0 4px 12px rgba(0,0,0,0.08); /* Matches .card */
    flex: 1; /* Ensures both columns take up equal width */
    text-align: center;
    border-radius: 20px;
  }

  .card {
    flex: 1; /* Makes the text card match the image card width */
  }


}